.story {
  grid-column: span 2;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-areas: "points content";
}

.content {
  grid-area: content;
  container: content / inline-size;
}

.details {
  display: flex;
  flex-wrap: wrap;
  gap: var(--_gap);
  color: var(--pico-muted-color);
  font-family: var(--pico-font-family-monospace);
}

.source {
  @container content (width > 600px) {
    margin-inline-start: auto;
  }
}

.title {
  font-size: 1.25rem;
  margin-block-end: 0.75rem;
}
