---
import Layout from "@/layouts/Layout.astro";
import { fetchStories } from "@/lib/api";
import { categories, type Categories } from "@/lib/model";
import Pagination from "@/components/Pagination";
import StoryGrid from "@/components/StoryGrid";

const isCategory = (c: string): c is Categories => Object.values(categories).includes(c);

const categoryParam = Astro.params.categories;
const category = categoryParam && isCategory(categoryParam) ? categoryParam : categories.top;

const pageParam = Astro.url.searchParams.get("page");
const page = !pageParam || isNaN(+pageParam) ? 1 : parseInt(pageParam);

const stories = await fetchStories(category, page);
---

<Layout>
  <hgroup>
    <h1>Stories</h1>
    <p>Read free, high quality news from Hacker News.</p>
  </hgroup>

  <section>
    <StoryGrid stories={stories} />

    <Pagination page={page} category={category} />
    <pre>
    <code>{JSON.stringify(stories, null, 2)}</code>
  </pre>
  </section>
</Layout>
