---
import Layout from "@/layouts/Layout";
import { fetchNews } from "@/lib/api";

const news = await fetchNews();
console.log(news);
---

<Layout>
  <h1>Genesys News</h1>
  {news.map((n) => <p>{n.title}</p>)}
</Layout>
